<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Cadastro de Cliente e produto</h1>
    <h5>Selecione uma opção:</h5>
    <div class="menu">
        <ul>
            <li><a href="/consumer">Cadastrar Cliente</a></li>
            <li><a href="/product">Cadastrar Produto</a></li>
        </ul>
    </div>
</body>
</html>